.SignUpInput {
    width: 100%;
    color: black;
    border-radius: 8px;
    border: 1px solid #979191;
    padding: 8px 5px;
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* box-shadow: 0.5px 0 2px rgba(134, 182, 238, 0.1); */
}

.SignUpInput:focus{

      box-shadow: 0 0 1px 2px #5f72f5;
      border-color: #5f72f5;
}
